/* Variables */
:root {
  /* Colors */
  --primary-color: #5a7acd;
  --dark-color: #2b2a2a;
  --bg-color: #f5f2f2;
  --light-color: #fefae0;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;

  --orange-color: #e2852e;
  --blue-color: #abe0f0;
  --violet-color: #473472;
  --red-color: #dc0000;

  /* Font */
  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 2rem;
  --big-font-size: 1.5rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.85rem;

  /* Font weight */
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--body-font);
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

body {
  background: var(--bg-color);
}

/* Responsivness */
@media screen and(min-width: 1150px) {
  :root {
    --biggest-font-size: 2rem;
    --big-font-size: 2.5rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

.container {
  max-width: 1150px;
  min-height: 100vh;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.btn {
  padding: 0.75rem 2.75rem;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  background: var(--dark-color);
  color: var(--white-color);
  font-weight: var(--font-bold);
  cursor: pointer;
  transition: all 0.4s;
}

.btn:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  rotate: -2deg;
  letter-spacing: 0.5px;
}

.card {
  max-width: 350px;
  width: 100%;
  position: relative;
  background: radial-gradient(
    circle at 50% 0%,
    var(--primary-color) 36%,
    var(--white-color) 36%
  );
  padding: 3rem 2rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

  img {
    max-width: 225px;
    height: 255px;
    display: block;
    margin: 0 auto;
  }

  .hp {
    position: absolute;
    right: 1.25rem;
    top: 1.5rem;
    padding: 0.5rem 1.25rem;
    background: var(--white-color);
    font-size: var(--small-font-size);
    border-radius: 0.25rem;

    span {
      font-size: 10px;
      font-weight: var(--font-bold);
    }
  }

  .pokemon_name {
    margin-top: 1.5rem;
    font-weight: var(--font-bold);
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  .types {
    margin: 1.75rem 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

    span {
      background: var(--light-color);
      padding: 0.25rem 0.5rem;
    }
  }

  .stats {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1.75rem;
    text-align: center;

    p {
      color: var(--dark-color);
    }
  }
}
